.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.logo {
  padding-left: 2rem;
  max-width: 20rem;
  height: auto;
  margin-right: 2rem;
}

.link {
  text-decoration: none;
  color: var(--black);
}

.cartIcon {
  width: 1.5rem;
}

.subContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 2rem;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    padding: 0 2rem 0.5rem 2rem;
    margin: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--black);
  }

  .link {
    margin-right: 1rem;
  }
}
