.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5.5rem;
  min-height: 100vh;
}

.buttonMainContainer {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sloganWrapper {
  text-align: center;
  background: rgba(240, 239, 239, 0.774);
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #e1d5d4, #b5b0bd);
}

.slogan {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0.4rem 1rem 0.4rem 0;
}

.subheading {
  padding-right: 1.5rem;
  padding-top: 0.5rem;
}

.image {
  width: 100%;
  height: auto;
}

.contentWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0.5rem 1rem;
  padding: 1rem 4rem;
  border-bottom: 1px solid var(--black);
}

.heading {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 1.25rem;
}

.aboutUsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--mw);
}

.missionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25rem;
  padding: 2rem 3rem;
}

.missionImage {
  width: 20rem;
  height: auto;
  margin: 1rem;
  border-radius: 200px;
  box-shadow: var(--bs);
}

.content {
  font-size: 0.85rem;
}

@media (max-width: 1000px) {
  .buttonMainContainer {
    margin-top: 3.5rem;
    flex-direction: column;
  }
  .buttonMainContainer {
    height: 4.5rem;
  }
  .slogan {
    font-size: 1.25rem;
    margin-right: 0.8rem;
  }
  .aboutUsContainer {
    flex-direction: column;
  }
  .header {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px) {
  .slogan {
    font-size: 1rem;
    margin: 0 0 0.4rem 0;
    padding-right: 0.25rem;
  }

  .sloganWrapper {
    font-weight: bold;
    padding: 1rem 0;
  }
  .header {
    font-size: 1.25rem;
  }
  .heading {
    font-size: 1.125rem;
  }
  .missionImage {
    width: 15rem;
    height: auto;
  }
}
