:root {
  --black: #393939;
  --gray: #342f2d;
  --lightgray: #a1a1a1;
  --smokeywhite: #ededed;
  --crimson: #eb2557;
  --tomato: #f15942;
  --goldenrod: #f3a61d;
  --teal: #269da1;
  --mw: 1000px;
  --bs: 4px 4px 5px 0 rgba(0, 0, 0, 0.377);
}
