.wrapper {
  width: 75%;
  display: flex;
  padding: 0 1rem;
}

.searchTerm {
  width: 100%;
  border: 1px solid var(--black);
  padding: 0.1rem 0.5rem;
  height: 1.75rem;
  border-radius: 10px;
  outline: none;
  color: var(--black);
  font-size: 0.75rem;
}

.searchTerm:focus {
  outline-color: var(--crimson);
  background: var(--smokeywhite);
}

.searchButton {
  margin-left: 0.5rem;
  width: 2.25rem;
  height: 2rem;
  border: 0.5px solid var(--black);
  background: var(--black);
  color: var(--smokeywhite);
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.8rem;
  outline: none;
}
