.button {
  margin-right: 1rem;
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem 0.5rem 0.8rem;
  border: 1px solid var(--black);
  border-radius: 10px;
}

.button:hover {
  background: #fbd786;
  box-shadow: var(--bs);
}

.button:active {
  transform: translate(2px, 1px);
}

.button a {
  text-decoration: none;
  color: var(--black);
  font-size: 0.8rem;
}

@media (max-width: 1000px) {
  .button {
    margin-right: 0.5rem;
    margin-top: 0;
  }
}
@media (max-width: 750px) {
  .button {
    padding: 0.2rem 0.4rem 0.25rem 0.4rem;
  }
}
